@page "/values"
@using Microsoft.AspNetCore.Authorization
@using PersonalDevelopment.Client.Shared.Components
@inject HttpClient _client
@inject IJSRuntime js
@attribute [Authorize]

@if (Model == null)
{
    <Loading />
}
else
{
    
    
    <div class="row">
        <div class="col-10">
            <Breadcrumb BreadcrumbElements=@breadcrumbLink ActivePage="Values list" Title="Your values" />
        </div>
        <Bookmark Link="/values/create" Icon="bi-plus-square"/>
    </div>
    
    

    <div class="row row-cols-1 row-cols-md-2 g-4">
        @foreach (var value in Model)
        {
            <div class="col">
                <div class="card h-100 d-flex flex-row p-0 card-values">

                    @if (value.ImageLink != null)
                    {
                        <div class="card-value-image" style="background-image: url('@value.ImageLink');"></div>
                    }


                    <div class="card-body @((value.ImageLink !=null)? "px-3" : "px-4") py-3 h-100">
                        <div class="value-card-content h-100">
                            <h5 class="card-title pb-2">@value.Name</h5>
                           @* <CardActions LinkPath="/values/edit/" LinkEdit="@value.Id" OnClickFunction="Delete(value.Id)"/>*@
                            <div class="setting-list">
                                <ul class="list-unstyled setting-option list-group list-group-horizontal" style="width:@(Open? 60: 10)px">
                                    <li>
                                        <div class="setting-primary">
                                            <i class="bi bi-three-dots-vertical" @onclick="Toggle"></i>
                                        </div>
                                    </li>
                                    <li><a href="/values/edit/@value.Id"><i class="bi bi-pencil-square"></i></a></li>
                                    <li><a type="button" @onclick="(()=>Delete(value.Id))" class="px-1"><i class="bi bi-x-square"></i></a></li>
                                </ul>
                            </div>
                            <p class="card-text overflow-auto pb-2">@value.Description</p>

                        </div>

                    </div>
                </div>


            </div>
        }
    </div>
}
@code {
    private List<Value> Model;

    protected async override Task OnInitializedAsync()
    {
        Model = await _client.GetFromJsonAsync<List<Value>>("/api/values");
    }

    async Task Delete(int valueId)
    {
        var value = Model.First(q => q.Id == valueId);
        var confirm = await js.InvokeAsync<bool>("confirm", "Do you want to delete " + value.Name);
        if (confirm)
        {
            await _client.DeleteAsync("/api/values/" + valueId);
            await OnInitializedAsync();
        }

    }

    public bool Open { get; set; } = false;
    public void Toggle()
    {
        Open = !Open;
    }

    public Dictionary<string, string> breadcrumbLink { get; set; } =
    new Dictionary<string, string>()
            {
                { "Home", "/" }
            };

}
